body {
  font-weight: 300;
}
.mr-12 {
  margin-right: 12px;
}
.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.all-times-bar {
  display: flex;
  .timebox {
    display: flex;
    align-items: center;
    margin-right: 20px;
    .title {
      font-weight: 100;
    }
  }
}

time {
  font-weight: 200;
}
svg {
  path {
    &:nth-child(2) {
      stroke-width: 2.7px;
    }
  }
}
