.askhIntroClassAPP {
  font-style: italic;
  color: #fff;
  font-size: 18px;
}
.askhIntroClassAPP .appLoader:after {
  border-color: #fff;
}
.askhIntroClassAPP input,
.askhIntroClassAPP button {
  font-style: italic;
}

.askhIntroClassAPP input {
  border-radius: 0;
  border: 0;
}

.askhIntroClassAPP .form-errors {
  color: red;
}

.askhIntroClassAPP .registrationForm button {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #4b9560;
  display: block;
  width: 100%;
  border-radius: 0;
}

.askhIntroClassAPP .locationSelectionScreen .locationName {
  font-weight: bold;
  display: block;
}

.askhIntroClassAPP .locationSelectionScreen .locationStreet {
  display: block;
}

.askhIntroClassAPP .locationSelectionScreen .city {
  margin-right: 5px;
}

.askhIntroClassAPP .locationSelectionScreen .zip {
  margin-right: 5px;
}

.askhIntroClassAPP .locationSelectionScreen .nearestLocation {
  background: #fff;
  color: #000;
  padding: 10px 15px;
}
.askhIntroClassAPP {
}

.sortedLocationLists {
}

.askhIntroClassAPP .sortedLocationLists {
  margin-top: 20px;
  background: #fff;
  padding: 10px 15px;
  max-height: 50vh;
  overflow: auto;
  margin-bottom: 20px;
}

.askhIntroClassAPP .sortedLocationLists .locationList {
  /* background: #fff; */
  color: #000;
  /* margin-bottom: 15px; */
  align-items: center;
  border-bottom: 1px solid;
  padding: 10px 0;
}

.askhIntroClassAPP .sortedLocationLists .locationList .col-6:last-child {
  text-align: right;
}

.askhIntroClassAPP .sortedLocationLists .locationList button {
  background: #4b9560;
  border: 0;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
}

.askhIntroClassAPP .sortedLocationLists .locationList:last-child {
  border: none;
}
.askhIntroClassAPP .navigationButtons {
  margin-top: 20px;
  margin-bottom: 50px;
}
.askhIntroClassAPP .navigationButtons button {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0;
  letter-spacing: 2px;
}

.askhIntroClassAPP .navigationButtons .col-6:first-child button {
  border-color: #fff;
}

.askhIntroClassAPP .navigationButtons .col-6:last-child button {
  background: #4b9560;
  border-color: #4b9560;
}
.askhIntroClassAPP .classFilters .mobilePrevNextBtn {
  text-align: right;
}

.askhIntroClassAPP .classFilters .mobilePrevNextBtn button {
  font-size: 0;
  background: #fff;
}

.askhIntroClassAPP .classFilters .mobilePrevNextBtn button i {
  font-size: 18px;
}

.askhIntroClassAPP .classFilters .mobilePrevNextBtn button:first-child {
  margin-right: 5px;
}
.askhIntroClassAPP .classFilters .mobilePrevNextBtn button:hover,
.askhIntroClassAPP .classFilters .mobilePrevNextBtn button:focus,
.askhIntroClassAPP .classFilters .mobilePrevNextBtn button:active {
  color: #000;
}
.askhIntroClassAPP .classFilters {
  margin-bottom: 20px;
  margin-top: 20px;
}

.askhIntroClassAPP .classListItem .classInformation {
  background: #e8e5e9;
  color: #000;
  padding: 20px;
}

.askhIntroClassAPP .classListItem {
  margin-bottom: 20px;
  padding: 0 15px;
}

.askhIntroClassAPP .classListItem .classInformation .classTitle {
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.askhIntroClassAPP .classListItem .classInformation .bookNoBtn button {
  background: #4b9560;
  border: 0;
  border-radius: 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.askhIntroClassAPP .classListItem .classInformation .row {
  align-items: center;
}

.askhIntroClassAPP .navigationButtons .col-12 button {
  border-color: #fff;
}
.askhIntroClassAPP .purchaseOptions .p-option {
  color: #fff;
  border: 2px solid;
}

.askhIntroClassAPP .creditCardForm button {
  background: #4b9560;
  border: 0;
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.askhIntroClassAPP .creditCardForm {
  margin-top: 10px;
}
.askhIntroClassAPP .cc-btn {
  border: 1px solid #fff;
  color: #fff;
}

.askhIntroClassAPP .cc-new-link {
  color: #fff;
  text-decoration: underline;
}
.askhIntroClassAPP .thankYouScreen {
  font-size: 20px;
  margin-top: 20px;
}

.askhIntroClassAPP .thankYouScreen .classTitle {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 30px;
}

.askhIntroClassAPP .thankYouScreen i {
  margin-right: 8px;
}

.askhIntroClassAPP .thankYouScreen div {
  margin-bottom: 5px;
}

.askhIntroClassAPP .thankYouScreen .book-again {
  background: #4b9560;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .askhIntroClassAPP .classListItem .classInformation .bookNoBtn button {
    font-size: 14px;
  }
}
